@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "iransans_black";
  src: url("fonts/IRANSansXFaNum-Black.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "iransans_medium";
  src: url("fonts/IRANSansXFaNum-Regular.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "iransans_light";
  src: url("fonts/IRANSansXFaNum-Light.ttf");
  font-weight: 300;
}

html {
  @apply font-body;
}

.text-message::selection {
  background-color: #f91a47;
  color: white;
}

.element-icon:hover {
  transform: translateY(-11px);
  transition: all 0.3s ease;
  cursor: pointer;
}
